::ng-deep {

  .mat-table {
    width: 100%;
  }

  .mat-row.detail-row {
    min-height: 0;
  }

  .mat-row.element-row:not(.expanded-row):hover {
    background: #777;
  }

  .mat-row.element-row:not(.expanded-row):active {
    background: #efefef;
  }

  .element-row .mat-cell {
    border-bottom-width: 0;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
  }

  .user-detail {
    border-radius: .3rem;
    padding: 16px;
    margin-bottom: 16px;
    height: auto;
  }

  table {
    width: 50%;

    th, td {
      width: 33.333%;
      text-align: center;
    }
  }
}
